.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media screen and (min-width: 0px){
  .mobile {
    display: flex;
    }
  .desk {
    display: none;
  }
}


@media screen and (min-width: 992px){
  .mobile {
    display: none;
    }
  .desk {
    display: flex;
  }
}

